utils/node_outputs/summary.txt
utils/node_outputs/BiasGelu/node_0_classifier_blocks_0_Mul_1__0_preview.txt
utils/node_outputs/BiasGelu/node_0_classifier_blocks_0_Mul_1__0.npy
utils/node_outputs/Transpose_Reshape/node_0_classifier_blocks_0_self_attn_Transpose_1__0_preview.txt
utils/node_outputs/Transpose_Reshape/node_0_classifier_blocks_0_self_attn_Transpose_1__0.npy
utils/node_outputs/Transpose_Reshape_token_5/node_0_classifier_blocks_0_self_attn_Transpose__0_preview.txt
utils/node_outputs/Transpose_Reshape_token_5/node_0_classifier_blocks_0_self_attn_Transpose__0.npy
utils/node_outputs/Transpose_Reshape_token_7/node_0_classifier_blocks_0_self_attn_Transpose_3__0_preview.txt
utils/node_outputs/Transpose_Reshape_token_7/node_0_classifier_blocks_0_self_attn_Transpose_3__0.npy
utils/node_outputs/Transpose_Reshape_token_9/node_0_classifier_Transpose__0_preview.txt
utils/node_outputs/Transpose_Reshape_token_9/node_0_classifier_Transpose__0.npy
utils/node_outputs/initializers/classifier_blocks_0_linear1_bias_preview.txt
utils/node_outputs/initializers/classifier_blocks_0_linear1_bias.npy
utils/node_outputs/initializers/classifier_blocks_0_norm1_bias_preview.txt
utils/node_outputs/initializers/classifier_blocks_0_norm1_bias.npy
utils/node_outputs/initializers/classifier_blocks_0_norm1_weight_preview.txt
utils/node_outputs/initializers/classifier_blocks_0_norm1_weight.npy
utils/node_outputs/initializers/classifier_blocks_0_pre_norm_bias_preview.txt
utils/node_outputs/initializers/classifier_blocks_0_pre_norm_bias.npy
utils/node_outputs/initializers/classifier_blocks_0_pre_norm_weight_preview.txt
utils/node_outputs/initializers/classifier_blocks_0_pre_norm_weight.npy
utils/node_outputs/initializers/classifier_blocks_0_self_attn_proj_bias_preview.txt
utils/node_outputs/initializers/classifier_blocks_0_self_attn_proj_bias.npy
utils/node_outputs/initializers/classifier_fc_bias_preview.txt
utils/node_outputs/initializers/classifier_fc_bias.npy
utils/node_outputs/initializers/classifier_fc_weight_preview.txt
utils/node_outputs/initializers/classifier_fc_weight.npy
utils/node_outputs/initializers/classifier_norm_bias_preview.txt
utils/node_outputs/initializers/classifier_norm_bias.npy
utils/node_outputs/initializers/classifier_norm_weight_preview.txt
utils/node_outputs/initializers/classifier_norm_weight.npy
utils/node_outputs/initializers/classifier_positional_emb_preview.txt
utils/node_outputs/initializers/classifier_positional_emb.npy
utils/node_outputs/initializers/initializers_summary.txt
utils/node_outputs/initializers/node_0_classifier_attention_pool_Transpose__0_preview.txt
utils/node_outputs/initializers/node_0_classifier_attention_pool_Transpose__0.npy
utils/node_outputs/initializers/node_0_classifier_blocks_0_linear1_Transpose__0_preview.txt
utils/node_outputs/initializers/node_0_classifier_blocks_0_linear1_Transpose__0.npy
utils/node_outputs/initializers/node_0_classifier_blocks_0_linear2_Transpose__0_preview.txt
utils/node_outputs/initializers/node_0_classifier_blocks_0_linear2_Transpose__0.npy
utils/node_outputs/initializers/node_0_classifier_blocks_0_self_attn_Concat_1__0_preview.txt
utils/node_outputs/initializers/node_0_classifier_blocks_0_self_attn_Concat_1__0.npy
utils/node_outputs/initializers/node_0_classifier_blocks_0_self_attn_Concat_3__0_preview.txt
utils/node_outputs/initializers/node_0_classifier_blocks_0_self_attn_Concat_3__0.npy
utils/node_outputs/initializers/node_0_classifier_blocks_0_self_attn_Constant_4__0_preview.txt
utils/node_outputs/initializers/node_0_classifier_blocks_0_self_attn_Constant_4__0.npy
utils/node_outputs/initializers/node_0_classifier_blocks_0_self_attn_k_proj_Transpose__0_preview.txt
utils/node_outputs/initializers/node_0_classifier_blocks_0_self_attn_k_proj_Transpose__0.npy
utils/node_outputs/initializers/node_0_classifier_blocks_0_self_attn_proj_Transpose__0_preview.txt
utils/node_outputs/initializers/node_0_classifier_blocks_0_self_attn_proj_Transpose__0.npy
utils/node_outputs/initializers/node_0_classifier_blocks_0_self_attn_q_proj_Transpose__0_preview.txt
utils/node_outputs/initializers/node_0_classifier_blocks_0_self_attn_q_proj_Transpose__0.npy
utils/node_outputs/initializers/node_0_classifier_blocks_0_self_attn_v_proj_Transpose__0_preview.txt
utils/node_outputs/initializers/node_0_classifier_blocks_0_self_attn_v_proj_Transpose__0.npy
utils/node_outputs/initializers/node_0_classifier_Constant__0_preview.txt
utils/node_outputs/initializers/node_0_classifier_Constant__0.npy
utils/node_outputs/initializers/node_0_tokenizer_flattener_Concat__0_preview.txt
utils/node_outputs/initializers/node_0_tokenizer_flattener_Concat__0.npy
utils/node_outputs/initializers/onnx::loss::2_grad_preview.txt
utils/node_outputs/initializers/onnx::loss::2_grad.npy
utils/node_outputs/initializers/tokenizer_conv_layers_0_0_weight_preview.txt
utils/node_outputs/initializers/tokenizer_conv_layers_0_0_weight.npy
utils/node_outputs/initializers/transpose_reshape_shape_preview.txt
utils/node_outputs/initializers/transpose_reshape_shape_token_4_preview.txt
utils/node_outputs/initializers/transpose_reshape_shape_token_4.npy
utils/node_outputs/initializers/transpose_reshape_shape_token_6_preview.txt
utils/node_outputs/initializers/transpose_reshape_shape_token_6.npy
utils/node_outputs/initializers/transpose_reshape_shape_token_8_preview.txt
utils/node_outputs/initializers/transpose_reshape_shape_token_8.npy
utils/node_outputs/initializers/transpose_reshape_shape.npy
utils/node_outputs/node_100_classifier_blocks_0_linear1_MatMul/node_0_classifier_blocks_0_linear1_MatMul__0_preview.txt
utils/node_outputs/node_100_classifier_blocks_0_linear1_MatMul/node_0_classifier_blocks_0_linear1_MatMul__0.npy
utils/node_outputs/node_111_classifier_blocks_0_linear2_MatMul/node_0_classifier_blocks_0_linear2_MatMul__0_preview.txt
utils/node_outputs/node_111_classifier_blocks_0_linear2_MatMul/node_0_classifier_blocks_0_linear2_MatMul__0.npy
utils/node_outputs/node_112_classifier_blocks_0_linear2_Add/node_0_classifier_blocks_0_linear2_Add__0_preview.txt
utils/node_outputs/node_112_classifier_blocks_0_linear2_Add/node_0_classifier_blocks_0_linear2_Add__0.npy
utils/node_outputs/node_113_classifier_blocks_0_Add_2/node_0_classifier_blocks_0_Add_2__0_preview.txt
utils/node_outputs/node_113_classifier_blocks_0_Add_2/node_0_classifier_blocks_0_Add_2__0.npy
utils/node_outputs/node_123_classifier_norm_Mul/LayerNormFusion/node_0_classifier_norm_Add_1__0_preview.txt
utils/node_outputs/node_123_classifier_norm_Mul/LayerNormFusion/node_0_classifier_norm_Add_1__0.npy
utils/node_outputs/node_123_classifier_norm_Mul/LayerNormFusion/saved_inv_std_var_token_3_preview.txt
utils/node_outputs/node_123_classifier_norm_Mul/LayerNormFusion/saved_inv_std_var_token_3.npy
utils/node_outputs/node_123_classifier_norm_Mul/LayerNormFusion/saved_mean_token_2_preview.txt
utils/node_outputs/node_123_classifier_norm_Mul/LayerNormFusion/saved_mean_token_2.npy
utils/node_outputs/node_126_classifier_attention_pool_MatMul/node_0_classifier_attention_pool_MatMul__0_preview.txt
utils/node_outputs/node_126_classifier_attention_pool_MatMul/node_0_classifier_attention_pool_MatMul__0.npy
utils/node_outputs/node_128_classifier_Softmax/node_0_classifier_Softmax__0_preview.txt
utils/node_outputs/node_128_classifier_Softmax/node_0_classifier_Softmax__0.npy
utils/node_outputs/node_130_classifier_MatMul/node_0_classifier_MatMul__0_preview.txt
utils/node_outputs/node_130_classifier_MatMul/node_0_classifier_MatMul__0.npy
utils/node_outputs/node_132_classifier_Squeeze/node_0_classifier_Squeeze__0_preview.txt
utils/node_outputs/node_132_classifier_Squeeze/node_0_classifier_Squeeze__0.npy
utils/node_outputs/node_133_classifier_fc_Gemm/output_preview.txt
utils/node_outputs/node_133_classifier_fc_Gemm/output.npy
utils/node_outputs/node_133_classifier_fc_Gemm_Grad/Gemm_0/classifier_fc_weight_grad_preview.txt
utils/node_outputs/node_133_classifier_fc_Gemm_Grad/Gemm_0/classifier_fc_weight_grad.npy
utils/node_outputs/node_13_tokenizer_flattener_Reshape/node_0_tokenizer_flattener_Reshape__0_preview.txt
utils/node_outputs/node_13_tokenizer_flattener_Reshape/node_0_tokenizer_flattener_Reshape__0.npy
utils/node_outputs/node_14_tokenizer_Transpose/node_0_tokenizer_Transpose__0_preview.txt
utils/node_outputs/node_14_tokenizer_Transpose/node_0_tokenizer_Transpose__0.npy
utils/node_outputs/node_15_classifier_Add/node_0_classifier_Add__0_preview.txt
utils/node_outputs/node_15_classifier_Add/node_0_classifier_Add__0.npy
utils/node_outputs/node_25_classifier_blocks_0_pre_norm_Mul/LayerNormFusion/node_0_classifier_blocks_0_pre_norm_Add_1__0_preview.txt
utils/node_outputs/node_25_classifier_blocks_0_pre_norm_Mul/LayerNormFusion/node_0_classifier_blocks_0_pre_norm_Add_1__0.npy
utils/node_outputs/node_25_classifier_blocks_0_pre_norm_Mul/LayerNormFusion/saved_inv_std_var_preview.txt
utils/node_outputs/node_25_classifier_blocks_0_pre_norm_Mul/LayerNormFusion/saved_inv_std_var.npy
utils/node_outputs/node_25_classifier_blocks_0_pre_norm_Mul/LayerNormFusion/saved_mean_preview.txt
utils/node_outputs/node_25_classifier_blocks_0_pre_norm_Mul/LayerNormFusion/saved_mean.npy
utils/node_outputs/node_31_classifier_blocks_0_self_attn_q_proj_MatMul/node_0_classifier_blocks_0_self_attn_q_proj_MatMul__0_preview.txt
utils/node_outputs/node_31_classifier_blocks_0_self_attn_q_proj_MatMul/node_0_classifier_blocks_0_self_attn_q_proj_MatMul__0.npy
utils/node_outputs/node_3_tokenizer_conv_layers_conv_layers_0_conv_layers_0_0_Conv/node_0_tokenizer_conv_layers_conv_layers_0_conv_layers_0_0_Conv__0_preview.txt
utils/node_outputs/node_3_tokenizer_conv_layers_conv_layers_0_conv_layers_0_0_Conv/node_0_tokenizer_conv_layers_conv_layers_0_conv_layers_0_0_Conv__0.npy
utils/node_outputs/node_4_tokenizer_conv_layers_conv_layers_0_conv_layers_0_1_Relu/node_0_tokenizer_conv_layers_conv_layers_0_conv_layers_0_1_Relu__0_preview.txt
utils/node_outputs/node_4_tokenizer_conv_layers_conv_layers_0_conv_layers_0_1_Relu/node_0_tokenizer_conv_layers_conv_layers_0_conv_layers_0_1_Relu__0.npy
utils/node_outputs/node_60_classifier_blocks_0_self_attn_Reshape/node_0_classifier_blocks_0_self_attn_Reshape__0_preview.txt
utils/node_outputs/node_60_classifier_blocks_0_self_attn_Reshape/node_0_classifier_blocks_0_self_attn_Reshape__0.npy
utils/node_outputs/node_63_classifier_blocks_0_self_attn_k_proj_MatMul/node_0_classifier_blocks_0_self_attn_k_proj_MatMul__0_preview.txt
utils/node_outputs/node_63_classifier_blocks_0_self_attn_k_proj_MatMul/node_0_classifier_blocks_0_self_attn_k_proj_MatMul__0.npy
utils/node_outputs/node_64_classifier_blocks_0_self_attn_Reshape_1/node_0_classifier_blocks_0_self_attn_Reshape_1__0_preview.txt
utils/node_outputs/node_64_classifier_blocks_0_self_attn_Reshape_1/node_0_classifier_blocks_0_self_attn_Reshape_1__0.npy
utils/node_outputs/node_66_classifier_blocks_0_self_attn_v_proj_MatMul/node_0_classifier_blocks_0_self_attn_v_proj_MatMul__0_preview.txt
utils/node_outputs/node_66_classifier_blocks_0_self_attn_v_proj_MatMul/node_0_classifier_blocks_0_self_attn_v_proj_MatMul__0.npy
utils/node_outputs/node_67_classifier_blocks_0_self_attn_Reshape_2/node_0_classifier_blocks_0_self_attn_Reshape_2__0_preview.txt
utils/node_outputs/node_67_classifier_blocks_0_self_attn_Reshape_2/node_0_classifier_blocks_0_self_attn_Reshape_2__0.npy
utils/node_outputs/node_69_classifier_blocks_0_self_attn_Transpose_2/node_0_classifier_blocks_0_self_attn_Transpose_2__0_preview.txt
utils/node_outputs/node_69_classifier_blocks_0_self_attn_Transpose_2/node_0_classifier_blocks_0_self_attn_Transpose_2__0.npy
utils/node_outputs/node_70_classifier_blocks_0_self_attn_MatMul/node_0_classifier_blocks_0_self_attn_MatMul__0_preview.txt
utils/node_outputs/node_70_classifier_blocks_0_self_attn_MatMul/node_0_classifier_blocks_0_self_attn_MatMul__0.npy
utils/node_outputs/node_72_classifier_blocks_0_self_attn_Mul/node_0_classifier_blocks_0_self_attn_Mul__0_preview.txt
utils/node_outputs/node_72_classifier_blocks_0_self_attn_Mul/node_0_classifier_blocks_0_self_attn_Mul__0.npy
utils/node_outputs/node_73_classifier_blocks_0_self_attn_Softmax/node_0_classifier_blocks_0_self_attn_Softmax__0_preview.txt
utils/node_outputs/node_73_classifier_blocks_0_self_attn_Softmax/node_0_classifier_blocks_0_self_attn_Softmax__0.npy
utils/node_outputs/node_74_classifier_blocks_0_self_attn_MatMul_1/node_0_classifier_blocks_0_self_attn_MatMul_1__0_preview.txt
utils/node_outputs/node_74_classifier_blocks_0_self_attn_MatMul_1/node_0_classifier_blocks_0_self_attn_MatMul_1__0.npy
utils/node_outputs/node_83_classifier_blocks_0_self_attn_Reshape_3/node_0_classifier_blocks_0_self_attn_Reshape_3__0_preview.txt
utils/node_outputs/node_83_classifier_blocks_0_self_attn_Reshape_3/node_0_classifier_blocks_0_self_attn_Reshape_3__0.npy
utils/node_outputs/node_85_classifier_blocks_0_self_attn_proj_MatMul/node_0_classifier_blocks_0_self_attn_proj_MatMul__0_preview.txt
utils/node_outputs/node_85_classifier_blocks_0_self_attn_proj_MatMul/node_0_classifier_blocks_0_self_attn_proj_MatMul__0.npy
utils/node_outputs/node_86_classifier_blocks_0_self_attn_proj_Add/node_0_classifier_blocks_0_self_attn_proj_Add__0_preview.txt
utils/node_outputs/node_86_classifier_blocks_0_self_attn_proj_Add/node_0_classifier_blocks_0_self_attn_proj_Add__0.npy
utils/node_outputs/node_87_classifier_blocks_0_Add/node_0_classifier_blocks_0_Add__0_preview.txt
utils/node_outputs/node_87_classifier_blocks_0_Add/node_0_classifier_blocks_0_Add__0.npy
utils/node_outputs/node_97_classifier_blocks_0_norm1_Mul/LayerNormFusion/node_0_classifier_blocks_0_norm1_Add_1__0_preview.txt
utils/node_outputs/node_97_classifier_blocks_0_norm1_Mul/LayerNormFusion/node_0_classifier_blocks_0_norm1_Add_1__0.npy
utils/node_outputs/node_97_classifier_blocks_0_norm1_Mul/LayerNormFusion/saved_inv_std_var_token_1_preview.txt
utils/node_outputs/node_97_classifier_blocks_0_norm1_Mul/LayerNormFusion/saved_inv_std_var_token_1.npy
utils/node_outputs/node_97_classifier_blocks_0_norm1_Mul/LayerNormFusion/saved_mean_token_0_preview.txt
utils/node_outputs/node_97_classifier_blocks_0_norm1_Mul/LayerNormFusion/saved_mean_token_0.npy
utils/node_outputs/onnx::SoftmaxCrossEntropyLoss::4/onnx::log_prob::3_preview.txt
utils/node_outputs/onnx::SoftmaxCrossEntropyLoss::4/onnx::log_prob::3.npy
utils/node_outputs/onnx::SoftmaxCrossEntropyLoss::4/onnx::loss::2_preview.txt
utils/node_outputs/onnx::SoftmaxCrossEntropyLoss::4/onnx::loss::2.npy
utils/node_outputs/onnx::SoftmaxCrossEntropyLoss::4_Grad/SoftmaxCrossEntropyLossGrad_0/output_grad_preview.txt
utils/node_outputs/onnx::SoftmaxCrossEntropyLoss::4_Grad/SoftmaxCrossEntropyLossGrad_0/output_grad.npy
